.item-buy-button{
    cursor: pointer;
}
.nav__link{
    text-decoration: underline;
    font-size: 120%;
}
.dropdown-toggle{
    font-size: 120%;
    text-decoration: underline;
}

.form-order{}
.form-order__input{
    width: 100%;
    font-size: 20px;
    padding: 0 5px;
    margin: 4px 0px;
}
.form-order__input_type-num{
    width: 15%!important;
    text-align: center;
}
.form-order__textarea{
    width: 100%;
    font-size: 20px;
    padding: 0 5px;
    margin: 4px 0px;
}
.form-order__required-star{
    color:red
}

footer{

}
